$header-bg-col: #D13129
$intro-bg-col: #fff
$footer-bg-col: #383133

$map-district-col: #C3BBBA
$map-district-col-hover:#69080f
$map-district-col-current: #D13129


$content-max-width: 960px

html
  font-size: 16px

@media(max-width:480px)
  html
    font-size: 14px

body
  box-sizing: border-box
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-around
  font-size: 16px
  font-family: adelle, Georgia, sans-serif

.index #header
  height: 40vw
  background: url("/images/header.jpg") no-repeat 50% 25%/cover $intro-bg-col
  position: relative

  h1
    position: absolute
    padding: 0
    margin: 0
    bottom: 1rem
    left: 0
    right: 0
    color: #fff
    font-weight: normal
    a, small
      background: rgba(0, 0, 0, 0.6)
      padding: 0 1rem 0 calc((100% - #{$content-max-width}) / 2 + 1rem)
      display: inline-block
      line-height: 1.25

    a
      background: rgba(0, 0, 0, 0.6)
      color: inherit
      text-decoration: none
      font-size: 3.5rem
      &:hover
        text-decoration: underline
    small
      line-height: 1.8
      font-size: 1.25rem
      font-style: italic

@media(max-width: #{$content-max-width})
  .index #header h1
    a, small
      padding-left: 1rem

@media(max-width: 720px)
  .index #header h1
    a
      font-size: 10vw
    small
      font-size: 5vw

#intro
  background:  $intro-bg-col
  padding: 2rem 0
  font-size: 1.3333rem
  font-weight: 100
  line-height: 1.6667
  p
    padding: 0 1rem
    max-width: $content-max-width
    margin: 0 auto

#main
  width: 100%
  padding: 2rem 0 0
  max-width: $content-max-width
  min-height: 30rem
  align-self: center
  flex-grow: 1
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start

#karte, #content
  box-sizing: border-box
  padding: 0 1rem 2rem

#karte
  width: 40%

#content
  width: 60%
  img
    max-width: 100%

@media(max-width: 720px)
  #main
    justify-content: center
  #karte, #content
    width: 100%
  #karte
    max-width: 480px

#footer
  background: $footer-bg-col
  padding: 2rem 0 0
  color: rgba(255, 255, 255, 0.75)
  margin-top: 2rem
  display: flex
  flex-wrap: wrap
  justify-content: center

#footer-text, #contact
  padding: 0 1rem 2rem
  box-sizing: border-box
  margin: 0
  width: 50%
  max-width: calc(#{$content-max-width / 2} + 2rem)
  font-weight: 100
  font-size: 1em
  line-height: 1.5

#contact
  text-align: right
  font-style: normal
  a
    display: inline-block
    color: rgba(255, 255, 255, 0.75)
    text-decoration: none
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 3px, rgba(255, 255, 255, 0) 4px)
    transition: all 0.1s
    &:hover
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7) 3px, rgba(255, 255, 255, 0) 4px)
      color: rgba(255, 255, 255, 1)

@media(max-width: 720px)
  #footer-text, #contact
    width: 100%
    max-width: none
    text-align: center
