.district-shape
  fill: #a6918a
  stroke: #fff
  stroke-width: 2
  transition: fill 0.1s

.district-nr
  font: bold 20px sans-serif
  text-anchor: middle
  fill: #fff
  transition: all 0.1s

  tspan
    baseline-shift: 0
    transition: baseline-shift 0.1s

.district-link
  &:focus
    outline: none

  &:hover, &:focus
    .district-shape
      fill: #69080f

    .district-nr
      fill: #fff
      font-size: 28px

      tspan
        baseline-shift: -3px

  &.current
    .district-shape
      fill: #a6121f

    .district-nr
      fill: #fff
      font-size: 28px

      tspan
        baseline-shift: -3px
