<svg width="100%" height="100%" viewBox="0 0 1114 867" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Wien" transform="translate(2.000000, 2.000000)">
    <a class="district-link" xlink:href="#bezirk-1" id="bezirk-1">
      <g class="district" id="g1" transform="translate(487.000000, 438.000000)">
        <path d="M38.3104,0.7086 L51.0663,13.4643 L55.3181,26.2203 L68.0742,30.4724 L85.0821,30.4724 L80.8301,43.2282 L68.0742,68.7401 L55.3183,81.496 L55.3182,81.4965 L55.3182,81.496 L51.0662,81.496 L38.3103,77.244 L29.8063,81.496 L17.0502,68.7401 L0.0423,51.7321 L0.0424,51.7321 L0.0424,43.2282 L4.2945,17.7164 L4.2945,17.7163 L17.0502,21.9682 L38.3102,0.7086 L38.3104,0.7086 L38.3104,0.7086 Z" id="b1" class="district-shape"></path>
        <text id="n1" class="district-nr">
          <tspan x="40.2187004" y="50.0114625">1</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-2" id="bezirk-2">
      <g class="district" id="g2" transform="translate(521.000000, 366.000000)">
        <path d="M85.0972,0.4247 L365.7271,293.8106 L365.7273,293.8108 L357.2235,302.3146 L272.1841,251.291 L174.3889,208.7712 L174.3888,208.7713 L148.8774,196.0157 L119.1136,166.2519 L110.6096,149.244 L89.3498,140.7401 L80.8459,127.9842 L76.5939,106.7243 L63.838,98.2204 L51.0821,102.4724 L34.0742,102.4724 L21.3181,98.2203 L17.0663,85.4643 L4.3104,72.7086 L4.3102,72.7086 L0.0583,64.2045 L0.0583,47.1965 L0.0586,47.1959 L12.814,34.4405 C12.8146,34.4411 29.8224,25.9371 29.8224,25.9371 L42.5784,42.945 L59.5856,34.4405 L55.3337,21.6846 L85.0972,0.4247 L85.0972,0.4247 Z" id="b2" class="district-shape"></path>
        <text id="n2" class="district-nr">
          <tspan x="154.7858" y="149.019362">2</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-3" id="bezirk-3">
      <g class="district" id="g3" transform="translate(542.000000, 464.000000)">
        <path d="M42.838,0.2204 L55.5939,8.7243 L59.8459,29.9842 L68.3498,42.7401 L89.6095,51.244 L98.1136,68.2519 L127.8774,98.0157 L153.3888,110.7713 L149.1369,119.2752 L127.8771,106.5193 L106.6172,123.5272 L81.1054,115.0232 L76.8534,119.2752 L81.1054,127.7791 L64.0973,144.787 L59.8456,157.5429 L59.8457,157.543 L59.8455,157.5429 L17.326,106.5195 L0.3182,63.9999 L0.3182,55.4965 L0.3183,55.496 L13.0742,42.7401 L25.8301,17.2282 L30.0821,4.4724 L42.838,0.2204 L42.838,0.2204 Z" id="b3" class="district-shape"></path>
        <text id="n3" class="district-nr">
          <tspan x="61.4128004" y="84.4207625">3</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-4" id="bezirk-4">
      <g class="district" id="g4" transform="translate(499.000000, 515.000000)">
        <path d="M26.3104,0.244 L39.0663,4.496 L43.3183,4.496 L43.3183,12.9999 L60.3262,55.5195 L60.326,55.5193 L26.3102,72.5271 L26.3101,72.5271 L9.3025,47.0157 L13.5544,38.5117 L0.7985,17.2519 L17.8064,4.496 L26.3104,0.244 L26.3104,0.244 Z" id="b4" class="district-shape"></path>
        <text id="n4" class="district-nr">
          <tspan x="30.5912004" y="41.0429625">4</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-5" id="bezirk-5">
      <g class="district" id="g5" transform="translate(448.000000, 532.000000)">
        <path d="M51.7986,0.2519 L64.5545,21.5117 L60.3026,30.0157 L77.3102,55.5271 L47.5467,68.2834 L22.0346,72.5351 L0.775,34.2677 L0.775,34.2676 L30.5388,30.0157 L39.0426,17.2598 L39.0426,4.5039 L51.7986,0.2519 L51.7986,0.2519 Z" id="b5" class="district-shape"></path>
        <text id="n5" class="district-nr">
          <tspan x="44.9512004" y="52.0429625">5</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-6" id="bezirk-6">
      <g class="district" id="g6" transform="translate(436.000000, 506.000000)">
        <path d="M68.0505,0.7401 L80.8065,13.496 L63.7986,26.2519 L51.0426,30.5039 L51.0426,43.2598 L42.5388,56.0157 L12.775,60.2676 L12.775,60.2677 L12.7748,60.2673 L4.2708,64.5193 L4.2708,64.5192 L0.0189,47.5113 L8.5226,30.5038 L8.523,30.5039 L59.5467,9.244 L68.0505,0.7401 L68.0505,0.7401 Z" id="b6" class="district-shape"></path>
        <text id="n6" class="district-nr">
          <tspan x="34.1035004" y="45.7909625">6</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-7" id="bezirk-7">
      <g class="district" id="g7" transform="translate(436.000000, 481.000000)">
        <path d="M4.271,0.2282 L34.0347,8.7322 L51.0425,8.7321 L68.0505,25.7401 L59.5467,34.244 L8.523,55.5039 L8.5226,55.5038 L8.5228,55.5035 L0.0189,21.4877 L4.2708,0.2282 L4.271,0.2282 L4.271,0.2282 Z" id="b7" class="district-shape"></path>
        <text id="n7" class="district-nr">
          <tspan x="31.7677004" y="33.4051625">7</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-8" id="bezirk-8">
      <g class="district" id="g8" transform="translate(440.000000, 451.000000)">
        <path d="M21.5309,0.4644 L51.2947,4.7164 L51.2947,4.7165 L47.0426,30.2283 L47.0426,38.7322 L30.0348,38.7323 L0.271,30.2283 L0.2708,30.2283 L0.2709,30.228 L0.2709,13.2201 L4.5228,4.7162 L4.523,4.7164 L21.5309,0.4644 L21.5309,0.4644 Z" id="b8" class="district-shape"></path>
        <text id="n8" class="district-nr">
          <tspan x="30.1037004" y="26.0193625">8</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-9" id="bezirk-9">
      <g class="district" id="g9" transform="translate(444.000000, 366.000000)">
        <path d="M60.0505,0.4246 L60.0504,0.4248 L64.3024,25.9366 L77.0583,47.1966 L77.0588,47.1961 L77.0585,47.1967 L77.0585,64.2047 L81.3105,72.7087 L60.0505,93.9684 L47.2947,89.7165 L17.5309,85.4645 L0.523,89.7165 L0.5228,89.7163 L4.7748,81.2123 L12.6713,57.5227 L13.2787,55.7005 L26.0346,51.4486 L30.2866,25.9366 L38.7906,17.4328 L47.2945,0.4248 L60.0502,0.4248 L60.0505,0.4246 L60.0505,0.4246 Z" id="b9" class="district-shape"></path>
        <text id="n9" class="district-nr">
          <tspan x="54.4495004" y="64.2476625">9</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-10" id="bezirk-10">
      <g class="district" id="g10" transform="translate(419.000000, 570.000000)">
        <path d="M140.3262,0.5196 L182.8458,51.5432 L182.846,51.5433 L276.3892,170.5984 L297.6489,208.866 L284.8928,208.866 L284.8928,238.6297 L297.6487,285.4014 L259.381,272.6455 L229.6172,285.4014 L229.6172,293.9999 L216.8613,293.9999 L208.3574,276.8975 L93.5542,251.3857 L131.8219,166.3463 L25.5227,145.0864 L12.767,119.5749 L12.767,119.5747 L0.0111,102.5669 L17.019,68.5511 L38.2788,77.0549 L46.7828,64.299 L29.7749,47.2913 L51.0347,34.5354 L76.5467,30.2835 L106.3104,17.5273 L140.3262,0.5196 L140.3262,0.5196 Z" id="b10" class="district-shape"></path>
        <text id="n10" class="district-nr">
          <tspan x="142.143001" y="139.113862">10</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-11" id="bezirk-11">
      <g class="district" id="g11" transform="translate(601.000000, 570.000000)">
        <path d="M68.8774,0.5196 L90.1372,13.2755 L94.3892,4.7714 L192.1844,47.2913 L277.2238,98.3149 L285.7276,89.8111 L332.4991,123.8266 L285.7274,132.3305 L272.9715,119.5746 L260.2156,136.5825 L230.4519,128.0786 L166.6723,204.61401 L115.6489,208.86601 L94.3892,170.5984 L0.8459,51.5432 L5.0977,38.7873 L22.1057,21.7795 L17.8537,13.2755 L22.1057,9.0236 L47.6175,17.5275 L68.8774,0.5196 L68.8774,0.5196 Z" id="b11" class="district-shape"></path>
        <text id="n11" class="district-nr">
          <tspan x="126.287146" y="98.3578625">11</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-12" id="bezirk-12">
      <g class="district" id="g12" transform="translate(308.000000, 566.000000)">
        <path d="M140.775,0.2677 L162.0348,38.5354 L140.775,51.2913 L157.7829,68.299 L149.2789,81.0549 L128.0191,72.5511 L111.0112,106.5669 L123.7671,123.5747 L123.7671,123.5749 L123.7669,123.5746 L106.7591,140.5825 L34.4756,119.3226 L17.4677,136.3305 L8.9638,127.8266 L13.2158,115.0707 L0.4601,110.8188 L13.216,76.8031 L25.9719,68.299 L47.2317,76.8031 L64.2396,59.7952 C64.2396,59.7953 81.2474,13.0236 81.2474,13.0236 L81.2473,13.0235 L81.2474,13.0235 L111.0112,21.5273 L132.271,4.5195 L132.271,4.5196 L140.775,0.2677 L140.775,0.2677 Z" id="b12" class="district-shape"></path>
        <text id="n12" class="district-nr">
          <tspan x="90.3090008" y="79.3343625">12</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-13" id="bezirk-13">
      <g class="district" id="g13" transform="translate(0.000000, 485.000000)">
        <path d="M87.3577,0.4801 L121.3734,25.992 L151.1371,17.4879 L193.6569,30.2439 L236.1766,60.0077 L346.7278,85.5195 L372.2396,89.7714 L389.2473,94.0235 L389.2474,94.0236 C389.2474,94.0236 372.2396,140.7953 372.2396,140.7952 L355.2317,157.8031 L333.9719,149.299 L321.216,157.8031 L308.4601,191.8188 L308.4598,191.8187 L304.2079,208.8266 L291.452,217.3305 L291.452,204.5746 L274.4441,204.5746 L278.6961,196.0707 L270.1921,191.8187 L257.4362,217.3305 L227.6724,200.3226 L210.6646,200.3226 L134.1291,247.0942 L108.6173,230.0864 L61.8457,217.3305 L44.8378,225.8345 L40.58608,183.315 L0,157.803 L15.07427,145.0472 L19.32624,123.7874 L57.59396,81.2677 L70.3496,25.992 L70.3494,25.9918 L70.3498,25.992 L87.3577,0.4801 L87.3577,0.4801 Z" id="b13" class="district-shape"></path>
        <text id="n13" class="district-nr">
          <tspan x="182.796501" y="132.334362">13</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-14" id="bezirk-14">
      <g class="district" id="g14" transform="translate(10.000000, 247.000000)">
        <path d="M60.3496,0.37 L153.8929,68.4015 L145.3892,93.9133 L158.1451,110.9212 L200.6648,102.4173 L234.6805,110.9212 L196.4128,149.1889 L179.4049,187.4566 L183.6569,191.7086 L192.1608,183.2047 L247.4364,204.4645 L285.7041,212.9684 L277.2,242.7322 L306.964,242.7322 L353.7356,255.4881 L353.7356,255.488 L374.9955,272.496 L362.2396,276.748 L357.9876,293.7558 L379.2474,306.5117 L379.2474,315.0157 L362.2396,310.7637 L362.2396,327.7716 L336.7278,323.5196 L226.1766,298.0078 L183.6569,268.244 L141.1371,255.488 L111.3734,263.9921 L77.3577,238.4802 L60.3498,263.9921 L60.3494,263.9919 L47.5936,246.9842 L68.8536,229.9763 L39.09002,217.2205 L26.3339,191.7086 L34.8378,170.4488 L0.8221,170.4488 L34.8378,140.685 L22.0819,119.4251 L30.5858,59.8976 L56.0976,34.3858 L60.3496,0.37 L60.3496,0.37 Z" id="b14" class="district-shape"></path>
        <text id="n14" class="district-nr">
          <tspan x="201.640401" y="241.007563">14</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-15" id="bezirk-15">
      <g class="district" id="g15" transform="translate(363.000000, 485.000000)">
        <path d="M4.9876,0.4803 L73.0191,17.4881 L81.523,51.5039 L73.0191,68.5117 L77.271,85.5196 L56.0112,102.5275 L26.2474,94.0236 L9.2396,89.7716 L9.2396,72.7637 L26.2474,77.0157 L26.2474,68.5117 L4.9876,55.7558 L9.2396,38.748 L21.9955,34.496 L0.7356,17.488 L4.9876,0.4803 L4.9876,0.4803 Z" id="b15" class="district-shape"></path>
        <text id="n15" class="district-nr">
          <tspan x="48.2308008" y="59.1687625">15</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-16" id="bezirk-16">
      <g class="district" id="g16" transform="translate(202.000000, 404.000000)">
        <path d="M63.9404,0.6928 L93.7041,9.1967 L89.4522,21.9527 L97.9561,21.9527 L119.216,9.1967 L157.4837,13.4488 L187.2474,26.2047 L187.2474,43.2125 L204.2553,55.9684 L234.0191,51.7165 L238.2711,60.2204 L238.2711,77.2283 L234.0191,98.4881 L165.9876,81.4803 L161.7356,98.4881 L114.964,85.7322 L85.2,85.7322 L93.7041,55.9684 L55.4364,47.4645 L0.1608,26.2047 L12.9167,9.1967 L34.1766,0.6928 L63.9404,0.6928 L63.9404,0.6928 Z" id="b16" class="district-shape"></path>
        <text id="n16" class="district-nr">
          <tspan x="132.947401" y="56.0114625">16</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-17" id="bezirk-17">
      <g class="district" id="g17" transform="translate(189.000000, 272.000000)">
        <path d="M98.2,0.8817 L98.2002,0.8818 L110.9561,30.6456 L93.9482,43.4015 L93.9482,51.9055 L119.46,51.9055 L123.712,60.4094 L98.2,68.9133 L98.2002,77.4173 L127.964,77.4173 L127.964,90.1732 L140.7199,85.9212 L149.2238,98.6771 L183.2396,111.433 L204.4994,132.6929 L221.5073,132.6929 L247.0191,149.7007 L242.7671,158.2047 L255.523,162.4566 L251.2711,170.9606 L259.775,175.2125 L267.6715,151.5229 L259.775,175.2125 L255.523,183.7165 L251.2711,192.2204 L247.0191,183.7165 L217.2553,187.9684 L200.2474,175.2125 L200.2474,158.2047 L170.4837,145.4488 L132.216,141.1967 L110.9561,153.9527 L102.4522,153.9527 L106.7041,141.1967 L76.9404,132.6928 L47.1766,132.6928 L25.9167,141.1967 L13.1608,158.2047 L4.6569,166.7086 L0.4049,162.4566 L17.4128,124.1889 L55.6805,85.9212 L21.6648,77.4173 L30.1687,51.9055 L59.9323,26.3936 L42.9244,17.8897 L98.2,0.8818 L98.2,0.8817 L98.2,0.8817 Z" id="b17" class="district-shape"></path>
        <text id="n17" class="district-nr">
          <tspan x="115.975701" y="122.468262">17</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-18" id="bezirk-18">
      <g class="district" id="g18" transform="translate(282.000000, 302.000000)">
        <path d="M17.9561,0.6456 L68.9797,17.6535 L68.9797,21.9055 L132.7593,60.1732 L154.0191,60.1732 L154.0191,68.6771 L200.7908,81.433 L192.2868,89.9369 L188.0348,115.4488 L175.2789,119.7007 L166.775,145.2126 L158.2711,140.9606 L162.523,132.4566 L149.7671,128.2047 L154.0191,119.7007 L128.5073,102.6929 L111.4994,102.6929 L90.2396,81.433 L56.2238,68.6771 L47.7199,55.9212 L34.964,60.1732 L34.964,47.4173 L5.2002,47.4173 L5.2,38.9133 L30.712,30.4094 L26.46,21.9055 L0.9482,21.9055 L0.9482,13.4015 L17.9561,0.6456 L17.9561,0.6456 Z" id="b18" class="district-shape"></path>
        <text id="n18" class="district-nr">
          <tspan x="108.8891008" y="77.5862625">18</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-19" id="bezirk-19">
      <g class="district" id="g19" transform="translate(287.000000, 132.000000)">
        <path d="M178.7827,0.5669 L200.0425,34.5826 L200.0426,34.5826 L246.8143,123.874 L234.0585,128.1259 L246.8144,170.6456 L217.0507,234.4249 L217.0505,234.425 L204.2947,234.425 L195.7908,251.433 L149.0191,238.6771 L149.0191,230.1732 L127.7593,230.1732 L63.9797,191.9055 L63.9797,187.6535 L12.9561,170.6456 L0.2002,140.8818 L0.2,140.8817 L25.7118,115.37 L17.2081,106.8662 L17.2081,106.8662 L4.4522,106.8662 L12.9562,85.6063 L51.3874,77.92 L59.7278,81.3543 L97.9955,60.0945 L127.7593,60.0945 L170.2787,26.0787 L161.7748,9.0706 L178.7827,0.5669 L178.7827,0.5669 Z" id="b19" class="district-shape"></path>
        <text id="n19" class="district-nr">
          <tspan x="140.675301" y="151.916963">19</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-20" id="bezirk-20">
      <g class="district" id="g20" transform="translate(504.000000, 255.000000)">
        <path d="M29.8143,0.874 L102.0976,111.4251 L72.3341,132.685 L76.586,145.4409 L59.5782,153.9448 C59.5782,153.9449 46.8222,136.937 46.8222,136.9369 C46.8222,136.937 29.8144,145.4409 29.8144,145.4409 L17.0585,158.1968 L4.3026,136.9369 L0.0506,111.425 L29.8144,47.6456 L17.0585,5.1259 L29.8143,0.874 L29.8143,0.874 Z" id="b20" class="district-shape"></path>
        <text id="n20" class="district-nr">
          <tspan x="43.3377008" y="105.452362">20</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-21" id="bezirk-21">
      <g class="district" id="g21" transform="translate(487.000000, 0.000000)">
        <path d="M174.3733,0 L233.9009,26.2676 L238.1528,132.5669 L331.6962,200.5984 L263.6647,268.6299 L255.1607,255.874 L229.6489,260.1259 L212.641,302.6456 L204.1371,298.3936 L204.1371,319.6535 L161.6174,323.9055 L119.0977,366.4251 L46.8144,255.874 L0.0427,166.5826 L38.3103,175.0865 L34.0584,149.5747 L68.0741,145.3228 L59.5701,111.307 L85.0819,90.0471 L72.326,22.0156 L110.5938,0.7558 L110.5938,13.5117 L127.6017,26.2676 L174.3733,0 L174.3733,0 Z" id="b21" class="district-shape"></path>
        <text id="n21" class="district-nr">
          <tspan x="145.377201" y="207.381562">21</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-22" id="bezirk-22">
      <g class="district" id="g22" transform="translate(606.000000, 119.000000)">
        <path d="M238.2081,0.811 L331.7514,34.8266 L306.2396,85.8503 L327.4994,98.6062 L323.2474,111.3621 L378.523,136.874 L395.531,128.37 L416.791,132.622 L395.531,217.6614 L438.051,226.1653 L391.2789,396.244 L404.035,434.5117 L387.027,498.2913 L404.035,511.0472 L412.539,489.7873 L429.547,506.7952 L416.791,523.8031 L433.799,557.8188 L459.31,562.0708 L489.074,553.5669 L504.613,574.8267 L493.326,587.5826 L504.613,608.8424 L497.578,672.62202 L412.539,642.8582 L327.4994,574.8267 L280.7277,540.811 L0.0978,247.4251 L42.6175,204.9055 L85.1372,200.6535 L85.1372,179.3936 L93.6411,183.6456 L110.649,141.1259 L136.1607,136.874 L144.6648,149.6299 L212.6963,81.5984 L233.9561,90.1023 L238.2081,0.811 L238.2081,0.811 Z" id="b22" class="district-shape"></path>
        <text id="n22" class="district-nr">
          <tspan x="251.731101" y="317.987763">22</tspan>
        </text>
      </g>
    </a>
    <a class="district-link" xlink:href="#bezirk-23" id="bezirk-23">
      <g class="district" id="g23" transform="translate(78.000000, 676.000000)">
        <path d="M230.46,0.8188 L243.216,5.0708 L238.964,17.8267 L247.4679,26.3306 L264.4758,9.3227 L336.7593,30.5826 L353.7671,13.5747 L366.523,39.0865 L472.8222,60.3464 L434.5545,145.38582 L328.2553,102.86612 L306.9955,158.14172 L294.2396,153.88972 L289.9876,183.653521 L251.7199,158.14172 L247.4679,141.13372 L175.1845,119.87392 L141.1687,136.88182 L102.901,132.62982 L26.3656,162.39362 L13.6097,153.88972 L30.6175,141.13372 L81.6412,124.12592 L77.3892,107.11802 L34.8695,115.62202 L0.8538,64.5984 L30.6175,39.0865 L56.1293,56.0943 L132.6648,9.3227 L149.6726,9.3227 L179.4364,26.3306 L192.1923,0.8188 L200.6963,5.0708 L196.4443,13.5747 L213.4522,13.5747 L213.4522,26.3306 L226.2081,17.8267 L230.46,0.8188 L230.46,0.8188 Z" id="b23" class="district-shape"></path>
        <text id="n23" class="district-nr">
          <tspan x="241.857601" y="84.1374625">23</tspan>
        </text>
      </g>
    </a>
  </g>
</svg>
